{% extends "geral/base.html" %}
{% block base %}

<div class="container" align="center">
    <div class="card">

        <div class="card-content">

            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <div class="container" align="center">
                    <h5>Registrar Instituições</h5>
                    <fieldset>
                        {{ form_instituicoes }}
                        <button type="submit" name="_submit" class="btn purple darken-3">Registrar</button>
                        <br><br>
                    </fieldset>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}