{%extends "base_usuario.html"%} {% block body %}



<div class="col-sm-3 col-md-4">
    <div class="wow fadeInRight" data-wow-delay="0.2s">
        <div class="service-box">
            <div class="service-icon">

                <!--<img src="static/img/logo.png" alt="" height="450px" width="250px" />-->

            </div>
            <div class="service-desc ">
                <ul id="nav"><ul><ul>
                    <li><a href="{% url 'meus_eventos' %}">Pagina Inicial</a></li>
                    <li><a href="{% url 'registrar_eventos' %}">Criar Eventos</a></li>
                    <li><a href="{% url 'participar_eventos' %}">Participar de Eventos</a>

                </ul></ul></ul>
            </div>

        </div>
    </div>
</div>
<br><br><br>
<div class="col-sm-3 col-md-8">
    <div class="service-box">

        <div class="service-icon">
            <!--<img src="#" alt="" />-->
        </div>

        <div class="service-desc">
            <div class="col s12 m8 offset-m5 l8 offset-l2">
                <form class="form" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="input-field col s12 required">
                        {%block container_eventos %}

                        {%endblock%}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}
