body {
    font-family: 'Open Sans', sans-serif;
}

.pad-top {
    padding-top: 100px;
}

.head-glow {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0px 5px 0px 20px;
    margin: 0px 15px 0px 8px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    text-transform: uppercase;
    font-weight: 900;
}

.sub-hr {
    border: 1px solid rgba(184, 94, 255, 1);
    width: 10%!important;
}

.min-set {
    min-height: 100px;
}

.img-set {
    height: 100px;
    margin-top: 10px;
}


/* =============================================================
   NAV BAR STYLES
 ============================================================ */

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0);
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    padding: 17px 12px;
}


/* =============================================================
  HOME SECTION STYLES
 ============================================================ */

#home-sec {
    background: url(../img/Evento.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 600px;
}

#home-sec .overlay {
    background-color: rgba(44, 46, 53, 0.75);
    min-height: 600px;
}

#home-sec h1 {
    line-height: 80px;
    font-size: 45px;
    font-weight: 900;
    color: #fff;
}

#home-sec mark {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0px 5px 0px 20px;
    margin: 0px 15px 0px 8px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.home-p {
    line-height: 30px;
    color: #E0E0E0;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-home {
    background-color: rgba(66, 168, 255, 0.8);
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}


/* =============================================================
  JUST SECTION STYLES 
 ============================================================ */

#just-sec .overlay {
    background: rgba(33, 34, 37, 0.95);
}

#just-sec {
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    font-size: 30px;
    text-align: center;
    color: #fff;
    line-height: 60px;
    font-weight: 900;
}


/*==========================================
   LOCATION STYLES
    =====================================================*/

#location-sec {
    background-color: rgba(50, 51, 58, 1);
    color: #fff;
}

#location-sec h3 {
    color: #000;
    font-weight: 900;
}