{%extends "base_usuario.html"%}
{% block body %}

<form class="pure-form pure-form-aligned" method="POST">
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    {% load material_form %}

    {% csrf_token %}

    {% if is_valid %}
    <p>Registrado com Sucesso</p>
    {% endif %}
    <div class="container">
        <h2>Informe seus dados para cadastro</h2>
        <fieldset>
            {% for field in form %}
            <div class="pure-control-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <ul class="errorList">
                    {% for fielderrors in field.errors %}
                    {{fielderrors.errors}}
                    {%endfor%}
                </ul>
                {%endif%}
            </div>
            {% endfor %}
            <button type="submit" name="_submit" class="btn">Registrar</button>
        </fieldset>
    </div>
    <br>
</form>
{%endblock%}
