{%extends "login/base.html"%}

{%block form_login%}
<br><br><br>
<div class="card ">
    <div class="card-content">
        <form method="POST" name="register" class="register-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" id='submit' class="btn-large waves-effect waves-light purple darken-3">Login</button><br><br>
            <h9 >Ainda não é cadastrado <strong><a href="{% url 'registrar' %}"><h7 class="text-purple">CLIQUE AQUI</h7> </a></strong> para se cadastrar</h9>
        </form>
        <div class="center-align red-text text-lighten-2" id="erro"><br></div>
    </div>
</div>
{%endblock%}