{%extends "base_usuario.html"%} {% block body %}

<div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="card">
        <div class="card-content">
            <input type="hidden">
            <form method="POST" class="viewform">{% csrf_token %}{% if is_valid %}
                <p>Registrado com Sucesso</p>
                {% endif %}
                <div class="container">
                    <div class="input-field col s12 required">
                        <h5>Informe seus dados</h5>
                        <fieldset>
                            {% for field in form %}
                            <div class="input-field col s12 required">
                                {{ field.label_tag }} {{ field }} {% if field.errors %}
                                <ul class="errorList">
                                    {% for fielderrors in field.errors %} {{fielderrors.errors}} {%endfor%}
                                </ul>
                                {%endif%}
                            </div>
                            {% endfor %}
                            <button type="submit" name="_submit" class="btn">REGISTRAR</button>
                        </fieldset>
                    </div>
                </div>
                <br>

            </form>
        </div>
    </div>
</div>
{%endblock%}