{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="descricao" content="Pagina inicial" /> {% block title %}
    <title>Jaca Eventos</title>{% endblock %}
    <!-- BOOTSTRAP -->
    <link href="{% static '../.././static/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- CSS -->
    <link href="{% static '../.././static/css/style.css' %}" rel="stylesheet" />
    <!-- Fonte -->
    <link href="{% static 'http://fonts.googleapis.com/css?family=Open+Sans' %}" rel='stylesheet ' type='text/css' />
</head>
{% block content %}

<body>
    <div class="navbar navbar-inverse navbar-fixed-top scrollclass">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Topo</a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Meus Eventos</a></li>
                    <li>
                        <a href="#" title="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         Eventos
                          <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" title="">Perfil</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Mais</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="home-sec">
        <div class="overlay">
            <div class="container">
                <div class="col-md-8 pad-top scrollclass">

                    <h1>
                        <strong>Escreva-se nos <mark>Eventos </mark>de seus sonhos, ou <mark>Crie</mark>
                        um você mesmo! </strong>
                    </h1>
                </div>

            </div>
        </div>

    </div>
    <!--END HOME SECTION-->
    <section id="features-sec">
        <div class="container">
            <div class="row text-center min-set">
                <div class="col-md-12">
                    <h2><mark class="head-glow">Quem </mark>Somos </h2>
                    <h4>Alunos de ADS que querem se tornar profissionais.</h4>
                    <hr class="sub-hr" />
                </div>
            </div>
            <section id="advance-sec">
                <div class="container">
                    <div class="row text-center min-set">
                        <div class="col-md-12">
                            <h2><mark class="head-glow">Quero ser </mark>Parte </h2>
                            <hr class="sub-hr" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img src="{% static 'img/facaParte.jpg' %}" class="img-set" />
                            <h3>Inscrição</h3>
                            <p>
                                Registre agora seu evento conosco.
                            </p>
                        </div>
                        <div class="col-md-4 text-center">
                            <img src="../.././static/img/5.png" class="img-set" />
                            <h3>Participar de Evento</h3>
                            <p>
                                Procure acima o Evento que deseja.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <div id="just-sec">
                <div class="overlay">
                    Mais Informações
                </div>
            </div>
            <section id="location-sec">
                <div class="container">
                    <div class="row text-center min-set">
                        <div class="col-md-12">
                            <h2>Onde nos<mark class="head-glow"> Encontrar</mark></h2>
                            <hr class="sub-hr" />
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12 text-center">

                            <br />
                            <h4>IFPI - Centro </h4>
                            <br />
                        </div>
                    </div>
                </div>
            </section>
</body>
{% endblock %}

</html>