{% extends "geral/base.html" %} {% block base%}
<div class="container" align="center">
    <h3>Registre seus Eventos</h3>
</div>
<!--<div class="row s12 center-align ">-->
<div class="card">
    <div class="card-content" align="center">
        <form method="POST" name="register" class="register-form">
            {% csrf_token %}
            {{ form_evento }}
            {% csrf_token %}
            {{ form_endereco }}
            {% csrf_token %}
            {{ form_periodo.non_field_errors }}
            {% for field in form_periodo %}
            <div class="pure-control-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <button type="submit" id='submit' class="btn-large waves-effect waves-light purple darken-3">Cadastrar Evento</button>
            <br><br>
        </form>
        <div class="center-align red-text text-lighten-2" id="erro"><br></div>
        <p></p>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $().ready(function () {
        $('select').material_select();
    });
</script>
{% endblock %}