{% extends "geral/base.html" %}
{% block base %}

<div class="row">
    {% for evento in eventos %}
    <div class="col s4">
        <div class="card"><a href="{% url 'exibir_detalhes_evento' evento.id %}">
            <div class="card-image">
                <img src="/static/teste/images/meus_eventos.jpg" width="300px" height="300px">
                <span class="card-title">{{ evento.nome }}</span>
            </div>
            <div class="card-content">
                <p class="black-text">{{ evento.descricao }}.</p>
            </div>
        </a></div>
    </div>
    {% endfor %}
</div>

{% endblock %}