{% extends "geral/base.html" %}
{% block base %}

<table class="striped">
    <thead>
    <tr>
        <th>Name</th>
    </tr>

    </thead>

    <tbody>
    <tr>
        <td>Dono</td>
        <td>{{evento.dono}}</td>
    </tr>
    <tr>
        <td>Gerentes</td>
        <td>
            {% for gerente in evento.get_gerentes %}
            {{gerente}}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Descricao</td>
        <td>{{evento.descricao}}</td>
    </tr>
    <tr>
        <td>Valor</td>
        <td>{{evento.valor}} R$</td>
    </tr>
    <tr>
        <td>Tipo do Evento</td>
        <td>{{evento.tipo_evento}}</td>
    </tr>
    <tr>
        <td>Endereco</td>
        <td>{{evento.endereco}}</td>
    </tr>
    <tr>
        <td>Periodo</td>
        <td>{{evento.periodo.data_inicio}} ate {{evento.periodo.data_fim}}</td>
    </tr>
    <tr>
        <td>Atividades</td>
        <td>{% for atividade in evento.get_atividades %}
            {{atividade}}<br>
            {% endfor %}</td>
    </tr>
    <tr>
        <td>Espaco Fisico</td>
        <td>{{evento.espaco_do_evento}}</td>
    </tr>
    <tr>
        <td>Tags do Evento</td>
        <td>{{evento.tags_evento}}</td>
    </tr>
    <tr>
        <td>Instituicoes Associadas</td>
        <td>
            {% for instituicao in evento.get_instituicoes %}
            {{instituicao}}
            {%endfor%}
        </td>
    </tr>

    </tbody>
</table>
<br>
<div align="center">
    <form method="POST" name="register" class="register-form">
        {% csrf_token %}
        {{ form_incricao_evento }}
        <!--{% csrf_token %}-->
        <!--{{ form_checkin_evento }}-->
        <button type="submit" id='submit' class="btn-large waves-effect waves-light teal">Se Inscrever</button><br><br>

    </form>
</div>

{% endblock %}