{% extends "geral/base.html" %}
{% block base %}
{% if incricoes %}
{% for inscricao in incricoes %}
<div class="card">
    <div class="card-content">
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="../static/img/photo.jpg" alt="" class="circle">
                <span class="title">Evento: {{ inscricao.evento.nome.title }}</span>
                <p>{{ inscricao.evento.endereco.bairro }}<br></p>
                <a href="#!" class="secondary-content"><i class="material-icons">search</i></a>
            </li>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i><b>Atividades do Evento</b></div>
                </li>
                {% for atividade in inscricao.evento.atividades %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ atividade }}</div>
                    <div class="collapsible-body"><span>Tipo: {{ inscricao.tipo_inscricao }}<br>
                    Local do Evento: {{ inscricao.evento.espaco_fisico }}<br>
                    Valor do Evento: {{ inscricao.evento.valor }}</span></div>
                </li>
                {% endfor %}
            </ul>
        </ul>
    </div>
</div>
{% endfor %}
{% else %}

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
            </div>
            <div class="col s10">
              <span class="black-text">
                Você ainda não possui nenhum inscrição no momento.
              </span>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}