{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br" class="no-js">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'teste/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'teste/css/mobile.css' %}" type="text/css" rel="stylesheet" media="(max-width: 480px)" )/>

    <!--<link href="{% static 'teste/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>-->

    <title>Jaca Eventos</title>

    <script>
    $(window).load(function() {
	    $("#loading-center").click(function() {
                $("#loading").fadeOut(500);
	    })
    });

    $(window).load(function() {
        $("#loading").fadeOut(500);
    })
    function img() {

    }
    </script>


</head>
<nav>
    <div class="nav-wrapper #6a1b9a purple darken-3">
        <a href="" class="brand-logo"><img class="imagem-logo" src="../static/img/LogoComNome.png" width="110px" height="60px"/></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Alterar senha</a></li>
            <li><a  href="{%url 'logout_usuario' %}">Encerrar Sessão</a></li>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="side-nav">

    <li>
        <div class="userView">
            <div class="background">
                <img src="../static/img/fundo_perfil.jpg" width="300px" height="220px">
            </div>
            <a href="#!user"><img class="circle" src="../static/img/photo.jpg" width="64px" height="64px"></a>
            <a href="#!name"><span class="white-text name">Bem Vindo, {{user.nome.title}}</span></a>
            <a href="#!email"><span class="white-text email">{{user.email}}</span></a>
        </div>
    </li>

    <li>
        <a href="{% url 'pagina_inicial' %}"></i>Pagina Inicial</a>
    </li>
    <!--<i class="material-icons">cloud-->
    <!--<li><a href="{% url 'meus_eventos' %}">Meus Eventos</a></li>-->
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="{% url 'registrar_instituicoes' %}">Instituições</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header">Eventos<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="{% url 'meus_eventos' %}">Meus Eventos</a></li>
                    <li><a href="#!">Buscar Eventos</a></li>
                    <li><a href="{% url 'registrar_eventos' %}">Registrar Evento</a></li>
                </ul>
            </div>
        </li>
    </ul>
</ul>

<div class="fixed-action-btn horizontal click-to-toggle">
    <a href="#" data-activates="slide-out" class="button-collapse btn-floating btn-large red"><i class="material-icons">menu</i></a>
</div>
<body>

<div class="container">
    {% block base %}

    {% endblock %}
</div>

</body>
<script src="{% static 'teste/js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'teste/js/materialize.js' %}"></script>
<script src="{% static 'teste/js/init.js' %}"></script>
<script src="{% static 'teste/js/calendario.js' %}"></script>
<script src="{% static 'teste/js/select.js' %}"></script>
<script src="{% static 'teste/js/cep.js' %}"></script>

<script> </script>

{% block scripts%}

{% endblock %}

<br>
<footer class="page-footer #6a1b9a purple darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Jaca Eventos</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with <a class="teal-text text-lighten-3" href="http://materializecss.com"> Materialize</a>
        </div>
    </div>
</footer>
</html>