{% extends "evento/registrar.html" %}
{%load bootstrap%}
{%block corpo%}

<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div id="object"></div>
        </div>
    </div>
</div>

<div class="container" align="center">
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="container" align="center">
            <h5>Registre seus Eventos</h5>
            <!--<label>Dono: {{user.nome}}</label>-->
            <fieldset>
                {{ form_evento|bootstrap }}
                <button type="submit" name="_submit" class="btn">Registrar</button><br><br>
            </fieldset>
        </div>
        <br>
    </form>
</div>

{% endblock %}

