{% extends "geral/base.html" %}
{%load bootstrap%}

{% block corpo_base %}
<br><br><br>
<div class="container">
    <!--{% for eventos in meus_eventos %}-->
    <!--<div class="card"><a href="{% url 'exibir_evento' eventos.id %}">-->
        <!--<div class="card-content">-->
            <!--<h4>Nome evento: {{ eventos.nome }}</h4>-->
            <!--<h4>Dono evento: {{ eventos.dono }}</h4>-->
            <!--<h4>Tipo evento: {{ eventos.tipo_evento }}</h4>-->
        <!--</div></a>-->
    <!--</div>-->
    <!--{%endfor%}-->

    <div class="container">
        <h1 class="page-header">Meus Eventos</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th> Nome evento </th>
                    <th> Dono evento </th>
                    <th> Tipo evento </th>
                    <th> Descrição evento </th>
                </tr>
                </thead>
                <tbody>
                {% for eventos in meus_eventos %}
                <tr>
                    <th>{{ eventos.id }}</th>
                    <td>{{ eventos.nome }}</td>
                    <td>{{ eventos.dono }}</td>
                    <td>{{ eventos.tipo_evento }} </td>
                    <td>{{ eventos.descricao }}</td>
                    <td><a href="{% url 'exibir_evento' eventos.id %}">Entrar no Evento</a></td>
                </tr>

                 {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        &copy; 2017 - Jaca Eventos LTDA
    </div>
</div>
{% endblock %}